/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"],
:root[data-theme="dark"],
html[data-theme="dark"] {
  /* lazily setting all colors to be the same, can't see the shades being used anywhere rn*/
  --ifm-color-primary: #dfd571;
  --ifm-color-primary-dark: #d9cd56;
  --ifm-color-primary-darker: #d6c948;
  --ifm-color-primary-darkest: #c0b22b;
  --ifm-color-primary-light: #e5dd8c;
  --ifm-color-primary-lighter: #e8e19a;
  --ifm-color-primary-lightest: #f2edc3;
  /* button bg */
  --ifm-color-secondary-darker: #dfd571;
  /* button hover bg */
  --ifm-color-secondary-dark: #ded78c;
  --ifm-background-color: #0b0906;
  --ifm-background-surface-color: var(--ifm-background-color);
  --ifm-heading-font-family: var(--ifm-font-family-base);
  --ifm-font-family-base: var(--ifm-font-family-monospace);
  --ifm-font-size-base: 90%;
  --ifm-code-font-size: 95%;
  --secondary-background-color: #272822;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}



.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.navbar-community-menu:hover {
  opacity: 0.6;
}

.navbar-community-menu:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("/img/Discord-Logo-Color.svg") no-repeat;
}

html[data-theme="dark"] .navbar-community-menu:before {
  background: url("/img/Discord-Logo-Color.svg") no-repeat;
}

.hero--primary.hero {
  --ifm-hero-text-color: #ffffff;
  --ifm-hero-background-color: var(--secondary-background-color);
  padding: 14rem 0 6rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin: 0 0 8rem;
}

.button--secondary.button--active:hover {
  --ifm-button-background-color: var(--ifm-color-secondary-dark);
  --ifm-button-border-color: var(--ifm-color-secondary-dark);
}

main .container .row {
  margin-top: 2rem;
}

main .container .row:last-child {
  margin-bottom: 6rem;
}

.footer--dark {
  --ifm-footer-background-color: var(--secondary-background-color);
  --ifm-footer-link-color: var(--ifm-color-secondary-darker);
  --ifm-footer-color: var(--ifm-color-secondary);
}