@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: unset !important;
  }
  body {
    height: unset !important;
    @apply font-body text-functionless-high dark:text-functionless-dark-high bg-functionless-white dark:bg-functionless-dark-bg;
  }

  body a {
    @apply no-underline hover:no-underline !overflow-hidden;
  }

  h1 {
    @apply font-display font-semibold text-6xl;
  }

  h2 {
    @apply font-display font-semibold text-5xl;
  }

  h3 {
    @apply font-display font-semibold text-4xl;
  }

  h4 {
    @apply font-display font-semibold text-3xl;
  }

  h5 {
    @apply font-display font-semibold text-2xl;
  }

  h6 {
    @apply font-display font-semibold text-xl;
  }

  .markdown h1 {
    @apply text-3xl mb-4;
  }

  .markdown h1:not(:first-child) {
    @apply text-3xl mt-16;
  }

  .markdown h2 {
    @apply text-2xl mt-12 mb-4;
  }

  .markdown h3 {
    @apply text-xl mt-10 mb-2;
  }

  .markdown h4 {
    @apply text-lg mt-8 mb-2;
  }

  .markdown h5 {
    @apply text-base mt-6 mb-2;
  }

  .markdown h6 {
    @apply text-sm mt-4 mb-2;
  }

  .markdown a {
    @apply text-functionless-blue;
  }

  .markdown p {
    @apply text-functionless-dark-medium;
  }

  .markdown pre {
    @apply rounded-md;
  }

  label {
    @apply font-body font-medium text-xs;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="datetime-local"] {
    @apply block w-full appearance-none border border-functionless-border dark:border-functionless-dark-border hover:border-gray-400 dark:hover:border-gray-500 enabled:bg-functionless-bg dark:enabled:bg-functionless-dark-bg  enabled:text-functionless-high dark:enabled:text-functionless-dark-high placeholder-functionless-medium dark:placeholder-functionless-dark-medium focus:outline-none focus:ring-0 ring-0 outline-none text-sm font-body dark:disabled:bg-functionless-dark-bg-tinted dark:disabled:text-functionless-medium transition;
  }

  textarea {
    @apply block w-full appearance-none border border-functionless-border dark:border-functionless-dark-border hover:border-gray-400 dark:hover:border-gray-500 bg-functionless-bg dark:bg-functionless-dark-bg px-4 py-2.5 text-functionless-high dark:text-functionless-dark-high placeholder-functionless-medium dark:placeholder-functionless-dark-medium focus:outline-none focus:ring-0 ring-0 outline-none text-sm font-body;
  }

  a:hover {
    @apply text-functionless-blue no-underline;
  }

  .tw-container {
    @apply container;
  }
}

@layer components {
  .theme-edit-this-page {
    @apply inline-flex bg-slate-700 rounded-md p-3 items-center;
  }

  .theme-admonition {
    @apply border-l-0 rounded-md !my-12 text-functionless-dark-high;
  }

  .theme-admonition p {
    @apply text-functionless-dark-high my-4;
  }

  .theme-admonition svg {
    @apply !fill-functionless-dark-high;
  }

  .theme-admonition-note {
    @apply bg-slate-500;
  }

  .theme-admonition-note a {
    @apply text-blue-300 hover:text-blue-100;
  }

  .theme-admonition-caution {
    @apply bg-orange-900;
  }

  .theme-admonition-caution a {
    @apply text-blue-300 hover:text-blue-100;
  }

  .theme-admonition-tip {
    @apply bg-blue-800;
  }

  .theme-admonition-tip a {
    @apply text-functionless-yellow hover:text-yellow-100;
  }

  .pagination-nav__link {
    @apply border-0;
  }

  .pagination-nav__sublabel {
    @apply text-functionless-dark-medium;
  }

  .pagination-nav__link--next {
    @apply justify-self-end;
  }

  .pagination-nav__label {
    @apply border-functionless-dark-border px-6 py-3 my-4 border rounded-full;
  }

  .breadcrumbs {
    @apply flex items-center -ml-3;
  }

  .breadcrumbs .breadcrumbs__item {
    @apply flex items-center;
    display: flex;
    align-items: center;
  }

  .breadcrumbs .breadcrumbs__item--active .breadcrumbs__link {
    @apply bg-transparent text-blue-600;
  }

  .breadcrumbs .breadcrumbs__link {
    @apply bg-transparent text-functionless-dark-medium font-semibold;
  }

  .breadcrumbs .breadcrumbs__link[href="/"] {
    @apply mb-1;
  }

  .over {
    @apply text-functionless-dark-medium font-semibold;
  }
  .subtitle1 {
    @apply text-base tracking-[0.15px] leading-[24px] font-medium font-body;
  }

  .subtitle2 {
    @apply text-sm tracking-[0.1px] leading-[20px] font-medium font-body;
  }

  .body1 {
    @apply text-base tracking-[0.15px] leading-[24px] font-normal font-body;
  }

  .body2 {
    @apply text-sm tracking-[0.1px] leading-[20px] font-normal font-body;
  }

  .over {
    @apply uppercase font-medium tracking-[3px] leading-[20px] text-sm;
  }

  .button {
    @apply inline-flex items-center font-medium rounded-full shadow-none text-base font-body cursor-pointer whitespace-nowrap;
  }

  .chip {
    @apply inline-flex items-center rounded-full py-1.5 px-4 shadow-none text-sm font-body font-medium whitespace-nowrap;
  }

  .blue-chip {
    @apply chip bg-blue-50 hover:bg-blue-100 text-blue-600 hover:text-blue-800 dark:bg-blue-900 dark:hover:bg-blue-800 dark:text-blue-200 dark:hover:text-blue-100;
  }

  .purple-chip {
    @apply chip bg-purple-200 hover:bg-purple-100 text-purple-500 hover:text-purple-800 dark:bg-purple-900 dark:hover:bg-purple-800 dark:text-purple-200 dark:hover:text-purple-100;
  }

  .green-chip {
    @apply chip bg-green-50 hover:bg-green-100 text-green-600 hover:text-green-800 dark:bg-green-900 dark:hover:bg-green-800 dark:text-green-200 dark:hover:text-green-100;
  }

  .yellow-chip {
    @apply chip bg-yellow-50 hover:bg-yellow-100 text-yellow-600 hover:text-yellow-700 dark:bg-yellow-700 dark:hover:bg-yellow-600 dark:text-yellow-50 dark:hover:text-yellow-50;
  }

  .social-button {
    @apply w-full button px-6 py-3.5 text-functionless-white focus:outline-none focus:ring-0 justify-center transition hover:bg-blue-300 hover:text-functionless-high [&_img]:hover:brightness-[0.1];
  }

  .solid-button {
    @apply button px-6 py-3.5 text-functionless-black bg-functionless-blue hover:bg-blue-300 focus:outline-none focus:ring-0 disabled:bg-functionless-medium;
  }

  .solid-button-large {
    @apply solid-button px-10 py-4.5;
  }

  .solid-button-small {
    @apply solid-button px-4 py-3;
  }

  .outline-button {
    @apply button px-6 py-3.5 text-functionless-black dark:text-functionless-white bg-transparent outline-none focus:ring-0 border border-functionless-border dark:border-functionless-dark-border  hover:border-gray-400;
  }

  .outline-button-large {
    @apply outline-button px-10 py-4.5;
  }

  .outline-button-small {
    @apply outline-button px-4 py-3;
  }

  .text-button {
    @apply button px-6 py-3.5 text-functionless-black dark:text-functionless-white bg-transparent outline-none focus:ring-0 hover:text-functionless-blue;
  }

  .text-button-large {
    @apply text-button px-10 py-4.5;
  }

  .text-button-small {
    @apply text-button px-4 py-3;
  }

  .code-gradient {
    @apply bg-gradient-to-r from-functionless-blue via-functionless-purple to-functionless-yellow;
  }

  .tab {
    @apply inline-flex whitespace-nowrap items-center bg-transparent px-5 py-3 font-medium rounded-full shadow-none text-base font-body cursor-pointer mr-4;
  }

  .tab-active {
    @apply tab border border-functionless-black dark:border-functionless-white text-functionless-high dark:text-functionless-dark-high outline-none focus:outline-none focus:ring-0 ring-0;
  }

  .tab-inactive {
    @apply tab border-0 text-functionless-medium dark:text-functionless-dark-medium outline-none focus:outline-none focus:ring-0 ring-0 hover:border hover:border-functionless-black dark:hover:border-functionless-white;
  }
}

@layer utilities {
  .icon-large {
    @apply w-6;
  }

  .icon {
    @apply w-5;
  }

  .icon-small {
    @apply w-4;
  }

  .round {
    @apply rounded-lg;
  }

  .shadow {
    @apply shadow-sm;
  }

  .section-padding {
    @apply py-12;
  }

  .window {
    @apply round p-0.5 code-gradient shadow-light dark:shadow-dark;
  }
}

.overflow-unset {
  overflow: unset;
}

:root {
  --ifm-navbar-height: auto;
}

.search-bar .DocSearch-Button-Key {
  filter: grayscale(100%) contrast(200%);
}

.search-bar > div,
.search-bar .DocSearch {
  width: 100%;
  position: relative;
}

.search-bar .DocSearch {
  border: 1px solid #18394d;
}

.search-bar .DocSearch-Button-Placeholder {
  font-size: 0.9rem;
}

.search-bar .DocSearch-Search-Icon {
  transform: scale(0.7);
  filter: brightness(0.6);
}

#__docusaurus svg {
  overflow: unset;
}
