.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin: 0 0 1.5rem;
  border-radius: 15%;
  filter: brightness(90%);
}

.featureSvg:hover {
  filter: none;
}